.my-orders {
  margin: 50px 0px;
}

.my-orders-order {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
  align-items: center;
  gap: 30px;
  border: 1px solid tomato;
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 20px;
}

.my-orders-order img {
  width: 50px;
}

.my-orders-order p span {
  color: tomato;
}

@media (max-width: 750px) {
  .my-orders-order {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}